*{
	box-sizing: border-box;
}

h1{
	text-align: center;

}

div{
	border: 2px solid black;
	padding: 10px;
	margin:10px;
	background-color: lightgrey;
}

div>h1{
	border: 2px solid black;
	width:45%;
	float: right;
	margin-top: -10px;
	margin-right: -10px;
}
#hOne{
	background-color: #e842f4;
	color: #ffffff;
}

#hTwo{
	background-color:#8c3f28;
	color: #000000;
}
#hThree{
	background-color:#b2ad27;
	color: #ffffff;
}

p{
	clear: right;
}

@media (min-width: 992px){
	div{
		width: 30%;
		float: left;
		margin-left: 2%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.common{
		width: 45%;
		float: left;
		margin: 2%;
	}
	#div1{
		clear: left;
		margin-right:30px;
		margin-left: 20px;
	}
}

@media (max-width: 767px ){
	.common,#div1{
		margin-right: 30px;
		margin-left: 20px;
	}
}