body{
	font-size: 16px;
	color: #000;
	background-color: #fff;
	font-family: 'Oxygen', sans-serif; 
} 
#header-nav{
	background-color: grey;
	border-radius: 0;
	border:0;
}
.navbar-brand{
	padding: 20px; 
}
.navbar-brand h1{
	font-family: 'Lora', serif;
	font-size: 1.5em;
	color: #557c3e;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .95;
}
.navbar-brand a:hover,.navbar-brand a:active{
	text-decoration: none;
}
#nav-list{
	margin-top: 12px;
}
#nav-list a{
	color: #951c49;
	text-align: center;
}
#nav-list a:hover{
	background:#e7e7e7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:1px solid #61122f;
}
.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}
.hello{
	background-color: grey;
	margin:30px;
}